body {
    font-family: Arial, sans-serif;
    background-color: #d0d5de;
    margin: 10px;
    padding: 40px;
}

header h1 {
    text-align: center;
    color: #112034;
}
.news-item h2 {
    text-align: left;
    color: #0c3661;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
    object-fit: cover;
    border: 5px solid #d0d5de;
}

.news-item {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
